### CONFIG ###
RewriteEngine on
AddDefaultCharset UTF-8

# com.ar
#RewriteCond  %{HTTP_HOST}      ^prueba.com.ar/*$
#RewriteRule  ^(.*)             http://www.prueba.com.ar/$1?%{QUERY_STRING}      [R=301,L]

RewriteRule ^$ index.php [L,NC]
RewriteRule ^prueba-(.*)-(.*)$ prueba_htaccess.php?parametro=$1&parametro2=$2 [L,NC]
RewriteRule ^registro$ registro.php [L,NC]
RewriteRule ^xml.xml$ xml.php [L,NC]

#C11-Celulares-4g
RewriteRule ^c([0-9]+)-(.*)$ includes/clases/Categorias.php?id=$1 [L,NC]
RewriteRule ^p([0-9]+)-(.*)$ producto_detalle.php?id=$1 [L,NC]
ErrorDocument 404 /404.php

#c11-remeras

#sitemap
RewriteRule ^sitemap.xml$ sitemap.php

ErrorDocument 503: 503